<!DOCTYPE html>

<html lang="en">

	<head>
		<title>gallery</title>
		<meta charset="utf-8">

    <link rel='stylesheet' href='style/bootstrap/bootstrap.min.css'>
		<link rel="stylesheet" href="style/reset.css">
		<link rel="stylesheet" href="style/game.css">
		<script src="js/jquery/jquery.min.js"></script>
    <script type='text/javascript'> 
      $( document).ready(function(){
          $('#game-info').on('click', function(){
            $('#game-info').hide();
          });
       });
    </script>
		<script src="http://cdn.jsdelivr.net/lodash/3.5.0/lodash.compat.min.js" defer></script>
		<script src="js/phaser.min.js" defer></script>
		<script src="js/preload.js" defer></script>
		<script src="js/utility.js" defer></script>
		<script src="js/eventHandlers.js" defer></script>
		<script src="js/remotePlayers.js" defer></script>
		<script src="js/chat.js" defer></script>
		<script src="js/playerMovementAndAnimation.js" defer></script>
		<script src="js/entrance.js" defer></script>
    <script src='js/bootstrap/bootstrap.min.js' defer></script>
		<script src="js/viewing1.js" defer></script>
		<script src="js/viewing2.js" defer></script>
		<script src="js/viewing3.js" defer></script>
		<script src="js/viewingHorse.js"  defer></script>
		<script src="js/viewingFilm2.js" defer></script>
		<script src="js/viewingFilm3.js" defer></script>
		<script src="js/main.js" defer></script>
		<script src="/socket.io/socket.io.js" defer> </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65986107-1', 'auto');
      ga('send', 'pageview');

    </script>

	</head>

	<body>

    <div id='game-info'>
      <div class='game-info-text'> 
      
        <h1 class='info-header' > 2022.gallery </h1>
      
      2022 relies on the intuition of you, the cyber tourist, to interact with the space respectfully and engage with other users in the room. Patience is required to navigate this domain as it is evolving and under constant construction. The exhibition content and gallery structure are expected to change frequently, where users will be notified of forthcoming installation periods. The work exhibited inside is the rightful property of the artists accredited and not to be reproduced under any circumstance. </div>
    </div>

    <div id='loading-message'> loading
    </div>

    <div id='welcome-modal'>
      <form class='welcome-form'>
        <label class='bold-text welcome-form-label'> what is your name ? </label>
        <br>
        <br>
        <input id='name' autocomplete='off'>
      </form>
    </div>

      <video id='horse-video' width="370" height="370"  autoplay loop='true'>
        <source src="assets/sam/dredown.mp4" type="video/mp4">
      </video>

      <video id='tek-video'  width="390" height="390" muted  autoplay loop='true'>
        <source src="assets/sam/tek-von.mp4" type="video/mp4">
      </video>
      
      <video id='kill-video'  width="600" height="390" muted  autoplay loop='true'>
        <source src="assets/sam/illkillyousamhains.mp4" type="video/mp4">
      </video>

      <div class="message-list">
							<!--{% block content %}-->
			   <ul id="messages">

							<!--{% for message in messages %}-->
							<!--<li>{{ message.body }}</li>-->
							<!--{% endfor %}-->
			    </ul>
        <!--{% endblock %}-->
      </div>
			
      <form class="message-form" action="">
        <input class="chat-input" id="m" placeholder='say something..' autocomplete="off" />
      </form>
		


	</body>
</html>
