<!DOCTYPE html>

<html lang="en">

	<head>
		<title>gallery</title>
		<meta charset="utf-8">

		<link rel="stylesheet" href="style/reset.css">
		<link rel="stylesheet" href="style/game.css">
	</head>

	<body>
		<script src="js/jquery/jquery.min.js"></script>
		<script src="http://cdn.jsdelivr.net/lodash/3.5.0/lodash.compat.min.js"></script>

		<script src="js/phaser.js"></script>
		<script src="js/preload.js"></script>
		<script src="js/eventHandlers.js"></script>
		<script src="js/remotePlayers.js"></script>
		<script src="js/chat.js"></script>
		<script src="js/playerMovementAndAnimation.js"></script>
		<script src="js/entrance.js"></script>
		<script src="js/viewing1.js"></script>
		<script src="js/viewing2.js"></script>
		<script src="js/viewingHorse.js"></script>
		<script src="js/main.js"></script>
		<script type="Player.js"></script>
		<script src="/socket.io/socket.io.js">
		</script>
		<div >
		<div>
			<video id='horse-video' width="340" height="340"  autoplay loop='true'>
			  <source src="assets/sam/dredown.mp4" type="video/mp4">
			</video>
			
		    <form action="">
		      <input id="m" autocomplete="off" /><button >SEND</button>
		    </form>
		</div>
		



	</body>
</html>