<!DOCTYPE html>

<html lang="en">

	<head>
		<title>gallery</title>
		<meta charset="utf-8">

    <link rel='stylesheet' href='style/bootstrap/bootstrap.min.css'>
		<link rel="stylesheet" href="style/reset.css">
		<link rel="stylesheet" href="style/game.css">
		<script src="js/jquery/jquery.min.js" defer></script>
		<script src="http://cdn.jsdelivr.net/lodash/3.5.0/lodash.compat.min.js" defer></script>
		<script src="js/phaser.min.js" defer></script>
		<script src="js/preload.js" defer></script>
		<script src="js/utility.js" defer></script>
		<script src="js/eventHandlers.js" defer></script>
		<script src="js/remotePlayers.js" defer></script>
		<script src="js/chat.js" defer></script>
		<script src="js/playerMovementAndAnimation.js" defer></script>
		<script src="js/entrance.js" defer></script>
    <script src='js/bootstrap/bootstrap.min.js' defer></script>
		<script src="js/viewing1.js" defer></script>
		<script src="js/viewing2.js" defer></script>
		<script src="js/viewingHorse.js"  defer></script>
		<script src="js/viewingFilm2.js" defer></script>
		<script src="js/main.js" defer></script>
		<script type="Player.js" defer></script>
		<script src="/socket.io/socket.io.js" defer> </script>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M3QFM9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3QFM9');</script>
<!-- End Google Tag Manager -->
	</head>

	<body>
    <div id='loading-message'> loading
    </div>

    <div id='welcome-modal'>
      <form class='welcome-form'>
        <label class='bold-text'> what is your name ? </label>
        <br>
        <br>
        <input id='name' autocomplete='off'>
      </form>
    </div>

		<div>
			<video id='horse-video' width="370" height="370"  autoplay loop='true'>
			  <source src="assets/sam/dredown.mp4" type="video/mp4">
			</video>

			<video id='tek-video'  width="390" height="390" muted  autoplay loop='true'>
			  <source src="assets/sam/tek-von.mp4" type="video/mp4">
			</video>
      
			<!--<video class='synchronator' id="pt1" width="250" height="250"  autoplay loop='true'>-->
				<!--<source src="assets/sam/pt1.mp4" type="video/mp4">-->

			<!--</video>-->
			<!--<video class='synchronator' id="pt3" width="200" height="200"  autoplay loop='true'>-->
				<!--<source src="assets/sam/pt3.mp4" type="video/mp4">-->

			<!--</video>-->
			<!--<video class='synchronator' id="pt4" width="200" height="200"  autoplay loop='true'>-->
				<!--<source src="assets/sam/pt4.mp4" type="video/mp4">-->

			<!--</video>-->

       <div class="message-list">
							<!--{% block content %}-->
			    <ul id="messages">

							<!--{% for message in messages %}-->
							<!--<li>{{ message.body }}</li>-->
							<!--{% endfor %}-->
			    </ul>
        <!--{% endblock %}-->
       </div>
			
		    <form class="message-form" action="">
		      <input class="chat-input" id="m" placeholder='say something..' autocomplete="off" />
		    </form>
		</div>
		


	</body>
</html>
